@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  font-family: 'Fira Code', monospace;
}

.scoreArea{
  margin: 10px;
}

.scoreAreaP{
  font-size: 300%;
  color: #05E487;
  text-align: center;
}

.clickArea{
  margin: 10px;
}

.clickAreaBtn{
  height: 200px;
  width: 350px;
  border-radius: 5%;
  background-color: transparent;
  border: 1px #05E487 solid;
  font-size: 120%;
  color: #05E487;
}

.clickAreaBtn:active {
  transform: scale(1.05);
}

.shopArea{
  list-style: none;
  text-align: center;
  width: 350px;
  border-radius: 5%;
  background-color: transparent;
  border: 1px #05E487 solid;
  color: #05E487;
  margin: 10px;
  margin-top: 30px;
}

.shopAreaDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.shopAreaButton{
  width: 40%;
  border-radius: 5%;
  background-color: transparent;
  border: 1px #05E487 solid;
  color: #05E487;
}

.shopAreaButton:active {
  transform: scale(1.05);
}
